:root {
	--mainBlue: #2a2a72;
	--lightBlue: #009ffd;
	--mainWhite: #f3f3f3;
	--mainDark: #232528;
	--mainYellow: #ffa400;
}

body {
	font-family: "Titillium Web", sans-serif !important;
	color: var(--mainDark);
	background-color: var(--mainWhite) !important;
}

.text-title {
	font-family: "Seymour One", sans-serif;
	letter-spacing: 0.3rem;
	text-transform: uppercase;
}

.text-blue {
	color: var(--mainBlue);
}

.text-bright {
	color: var(--lightBlue);
}

/* Navigation Styling */
.navbar-bg {
	background-color: var(--mainBlue);
}

/* Product Card Styling */
.cardWrapper {
	border-color: transparent !important;
	transition: all 0.3s linear;
}

.cardFooter {
	background: transparent !important;
	border-top-color: transparent !important;
	transition: all 0.3s linear;
}

.cardWrapper:hover {
	border: 0.2rem solid rgba(0, 0, 0, 0.2) !important;
	box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2) !important;
}

.cardWrapper:hover .cardFooter {
	background: rgba(247, 247, 247) !important;
}

.imgContainer {
	position: relative;
	overflow: hidden;
}

.card-img-top {
	transition: all 0.3s linear;
}

.imgContainer:hover .card-img-top {
	transform: scale(1.2);
}

.card-btn {
	background-color: var(--lightBlue);
	position: absolute;
	bottom: 0;
	right: 0;
	border-radius: 0.4rem 0 0 0;
	border: none;
	transition: all 0.3s linear;
	transform: translate(100%, 100%);
	font-size: 1.4rem;
	color: var(--mainWhite);
	padding: 0.2rem 0.8rem;
}

.cardWrapper :hover .card-btn {
	transform: translate(0, 0);
}

.card-btn :hover {
	color: var(--mainBlue);
	cursor: pointer;
}

/* Product Detail Styling */
.btnContainer {
	font-weight: bold;
	border-radius: 0.4rem;
	text-transform: capitalize;
	padding: 0.2rem 0.5rem;
	border: 0.05rem solid var(--lightBlue);
	background: transparent;
	border-radius: 0.5rem;
	color: var(--lightBlue);
	margin: 0.2rem 0.5rem 0.2rem 0;
	transform: all 0.5s ease-in-out;
}

.inCartButton {
	border: 0.05rem solid var(--mainYellow);
}

.btnContainer:hover {
	background: var(--lightBlue);
	color: var(--mainBlue);
	text-decoration: none;
}

/* Cart Increment/Decrement Button  */
.btn-black,
.btn-value {
	border: 0.15rem solid var(--mainDark) !important;
	background: transparent;
	border-radius: 0 !important;
	font-size: 0.8rem;
	color: var(--mainDark);
}

.btn-black:hover {
	background: var(--mainDark) !important;
	color: var(--mainWhite) !important;
}

/* Trash Icon to Delete item in Cart Component */
.trash-icon {
	font-size: 1.3rem;
	color: var(--mainYellow);
}
